/*body {
    background: orange;
}*/


/*element selector*/

li {
    border: 2px solid red;
}


/*id selector*/

#special {
    background-color: yellow;
}


/*class selector*/

.completed {
    text-decoration: line-through;
}